<section>
    <div class="container">
        <div class="row">
            <div class="col-12 word-text">
                <div class="row justify-content-center">
                    <div *ngIf="undefined!==realtime_word">
                        <div class="col-4 bottom-margin width-size height-text-size text-position">{{realtime_word.word}}</div>
                        <!-- <div class="col-4 bottom-margin width-size height-text-size">{{realtime_word.transcript}}</div> -->
                        <div class="col-4 bottom-margin">
                            <input type="text"
                                   (keyup.enter)='compareWord(translate)' class="col-4 bottom-margin width-size text-color height-element-size" #translate>
                        </div>
                        <div class="col-4 bottom-margin">
                            <button class="col-4 btn btn-dark btn-lg bottom-margin width-size height-element-size"
                                    (click)="compareWord(translate)">{{reallang['click']}}</button>
                        </div>  
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 bottom-margin width-size height-text-size">
                        {{reallang['translated']}}: {{complete_word.length}}/{{words.length-1}}
                    </div>
                </div>
                <div *ngIf="!right_translate && answer_clicked">
                    <div class="row justify-content-center">
                        <div class="col-4 bottom-margin bad-translate text-color width-size">
                            {{reallang['badly']}}
                            <div class="right-translate" *ngFor="let transl of realtime_word.translate">{{transl}}</div>
                            <br>{{reallang['time']}} {{timer}}
                        </div>
                    </div>
                </div>
                <div *ngIf="right_translate && answer_clicked">
                    <div class="row justify-content-center">
                        <div class="col-4 bottom-margin right-translate text-color width-size">
                            {{reallang['right']}}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-dark btn-lg col-4 btn btn-dark btn-lg bottom-margin width-size height-element-size"
                            (click)="returnToStart()">{{reallang['start']}}</button>
                </div>
            </div>
        </div>
    </div>
</section>