/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  background: url(../../../../assets/images/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center center;
  background-color:#464646;
}

.title {
    color: black;
    margin:0;
    padding:50px 20px;
}

.text{
    color: darkslategray;
    margin: 0;
    padding:50px 20px;
}

.button-pos{
    margin: 20px 0 0 10px;
    width: 300px;
}

.ground {
  background-color: rgba(57, 31, 22, 0.5);
  height: 100%;
  width: 100%; 
} */
