<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-4 bottom-margin width-size" [style.margin-top]="'10px'">
                        <button class="btn btn-dark btn-lg width-size" (click)="goWithFisrtWords()">First words</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 bottom-margin width-size">
                        <button class="btn btn-dark btn-lg width-size" (click)="goWithSecondWords()">Second Words</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 bottom-margin width-size">
                        <button class="btn btn-dark btn-lg width-size" (click)="goWithThirdWords()">Third Words</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>