.button-container {
    float: left;
    margin: 10px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(190, 105, 74, 0.76);
    min-width: 280px;
    text-align: center;
}